body{
	overflow-x: hidden;
}

.jumbo1 {
    margin-bottom: 0px;
    background-image: url(jumbo-bg.jpg);
    background-position: 0% 43%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    overflow: hidden;
    padding-top: 15%;
    padding-bottom: 15%;
	height: 100vh;
	
}

.card-columns{
	padding:0% 10% 0%;
}


.jumbo2 {
	background-color: #232323;
	color: #fbfbfb;
	padding: 10%;


	
}

/*.btn{
	    padding: 12px;
    width: 150px;
}*/

.search{
	float: right;
	width: 50px;
}

.footer{
	margin-top: 15px;
	margin-bottom: 0px;
}

.navbar{
	background-color: #FBFBFB;
	box-shadow: 0px -26px 96px #000;

}

.form-inline{
	position: absolute;
	right: 5px;

}

footer
{
	/*margin-top: 10px;*/
}

.row{
	margin:0px;
}

.page-footer{
	background-color: #232323;
}

.posts{
	
	display: inline-block;
	box-shadow: 8px 4px 18px #888888;
	width: 30%;
}

.posts a {
	text-decoration: none;
	color: #232323;
}

.topic{
	float: right;
}

.content{
	margin-top: 32px;
	margin-bottom: 32px;

}


.pad-left{
    padding-left: 32px;
}


/*single post*/
.full-post-div{
	margin-right: 20px;
	text-align: justify;	
	padding: 5%;
}

.full-post-div img{
	margin-bottom: 20px;
}

.topic-side-bar{
	height: fit-content;
}

/*.social-links {
    font-size: 20px !important;
    padding: 20px;

}*/

.fa{
	color: #292929;
	padding: 15px;
	font-size: 30px !important;
	text-decoration: none;
}
.fu{
    margin-bottom: 20px;
}
.foot{
	color: white!important;	
}

.topmargin {
    margin-top: 10px;
    
}

.fa:hover{
	text-decoration: none;
	color: #292929;

}

.carousel{
	
	padding: 50px;
}

.intro{
	padding: 50px;
	
}

.abouttext{
	padding: 8%;
    background: #292929;
    color: white;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: lightgrey;
    /*box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    */
}
.carousel-indicators .active {
 
    background-color: #292929;
}
.footerlinks {
    font-size: 20px;;
    padding-right: 25px;
    color: white;
}

.pagelinks a:hover{
	text-decoration: none;
	color : white;
}

.pagelinks {
    padding: 10px;
}

.abouttitle {
    font-size: 60px;
}

/* .dimconstraints {
    max-width: 700px!important;
    max-height: 550px!important;
} */


